In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stat
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import math

In [3]:
df_canvass = pd.read_csv("data/canvass_records.csv.gz")
print("Read {} records.".format(len(df_canvass)))

Read 50462 records.

In [56]:
df_complaint = pd.read_csv("data/complaint_records.csv.gz")
print("Read {} records.".format(len(df_complaint)))

Read 17088 records.

In [4]:
df_canvass.head()

,inspection_id,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_id,...,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14
0,1981667,1725 W 47TH ST,BELLAS FUENTEZ,CHICAGO,BELLAS FUENTEZ,Restaurant,2017-01-19T00:00:00.000,Canvass,41.808460,1356217,...,0,0,0,0,0,0,0,0,0,0
1,1453500,65 W JACKSON BLVD,CARVERY,CHICAGO,CARVERY,Restaurant,2014-08-26T00:00:00.000,Canvass,41.878046,43330,...,0,0,0,0,0,0,0,0,0,0
2,1102252,11601 W TOUHY AVE,THE GREAT AMERICAN BAGEL/T3 K2,CHICAGO,THE GREAT AMERICAN BAGEL,Restaurant,2012-05-07T00:00:00.000,Canvass,42.008536,1879167,...,0,0,0,0,0,0,0,0,0,0
3,68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774,...,0,0,0,0,0,0,0,0,0,0
4,1482983,1847 W ROSCOE ST,FOUR MOON TAVERN,CHICAGO,FOUR MOON TAVERN,Restaurant,2015-09-14T00:00:00.000,Canvass,41.943141,51644,...,0,0,0,0,0,0,0,0,0,0

In [43]:
lid_aka = df_canvass.groupby("address")["aka_name"].unique()
lid_aka.head()

address
                                              [CASA CENTRAL LA POSADA]
1 E 83RD ST                                                   [SUBWAY]
1 E DELAWARE PL            [STARBUCKS COFFEE #13468, STARBUCKS COFFEE]
1 E JACKSON BLVD     [DEPAUL UNIVERSITY LOOP CAMPUS BOOKSTORE #085,...
1 E PEARSON ST                                     [LOYOLA UNIVERSITY]
Name: aka_name, dtype: object

In [49]:
uniqs = lid_aka.apply(lambda a: len(a))
sorted(zip(uniqs.index, uniqs.values), key=lambda p: p[1], reverse=True)[0:10]

[('11601 W TOUHY AVE ', 162),
 ('1410 S MUSEUM CAMPUS DR ', 50),
 ('1901 W MADISON ST ', 46),
 ('500 W MADISON ST ', 38),
 ('333 W 35TH ST ', 35),
 ('5700 S CICERO AVE ', 34),
 ('131 N CLINTON ST ', 31),
 ('1060 W ADDISON ST ', 29),
 ('222 W MERCHANDISE MART PLZ ', 28),
 ('100 W RANDOLPH ST ', 24)]

In [54]:
df_canvass.groupby("aka_name")["inspection_id"].count().sort_values(ascending=False).head(10)

aka_name
SUBWAY                         1700
DUNKIN DONUTS                   552
POTBELLY SANDWICH WORKS         168
STARBUCKS COFFEE                154
CORNER BAKERY CAFE              141
CHIPOTLE MEXICAN GRILL          141
JIMMY JOHN'S                    122
Subway                          120
SUBWAY SANDWICHES               116
POTBELLY SANDWICH WORKS LLC     109
Name: inspection_id, dtype: int64

In [55]:
df_canvass.groupby("dba_name")["inspection_id"].count().sort_values(ascending=False).head(10)

dba_name
SUBWAY                         1411
DUNKIN DONUTS                   550
POTBELLY SANDWICH WORKS LLC     166
POTBELLY SANDWICH WORKS         143
CHIPOTLE MEXICAN GRILL          141
CORNER BAKERY CAFE              141
SPORTSERVICE SOLDIER FIELD      117
SUBWAY SANDWICHES               111
AU BON PAIN                     104
MCDONALD'S                       92
Name: inspection_id, dtype: int64

In [57]:
df_complaint.groupby("aka_name")["inspection_id"].count().sort_values(ascending=False).head(10)

aka_name
SUBWAY                          428
MCDONALD'S                      369
DUNKIN DONUTS                   326
MCDONALDS                       160
BURGER KING                     120
CHIPOTLE MEXICAN GRILL           98
WENDY'S                          97
DUNKIN DONUTS/BASKIN ROBBINS     92
HAROLD'S CHICKEN SHACK           78
MC DONALD'S                      72
Name: inspection_id, dtype: int64

In [58]:
df_complaint.groupby("dba_name")["inspection_id"].count().sort_values(ascending=False).head(10)

dba_name
SUBWAY                          352
DUNKIN DONUTS                   331
MCDONALD'S                      272
MCDONALDS                       153
CHIPOTLE MEXICAN GRILL           91
HAROLD'S CHICKEN SHACK           78
DUNKIN DONUTS/BASKIN ROBBINS     65
J & J FISH                       61
MC DONALD'S                      60
SHARKS FISH & CHICKEN            57
Name: inspection_id, dtype: int64