In [1]:
import pandas as pd
from research.strings import TARGET, META, PREDICTORS

In [2]:
data = pd.read_csv("data/train_data.csv")
data.head()

,criticalFound,Inspection_Date,License,Inspection_ID,Business_ID,Inspector_blue,Inspector_brown,Inspector_green,Inspector_orange,Inspector_purple,...,pastSerious,pastCritical,timeSinceLast,ageAtInspection,consumption_on_premises_incidental_activity,tobacco_retail_over_counter,temperatureMax,heat_burglary,heat_sanitation,heat_garbage
0,0.0,15736,30790,269961.0,30790-20110416,0,0,1,0,0,...,0.0,0.0,2.0,1,0.0,1.0,53.496667,26.992376,37.748787,12.768572
1,0.0,15265,1475890,507211.0,1475890-20110416,1,0,0,0,0,...,0.0,0.0,2.0,1,0.0,0.0,59.046667,13.976557,15.412267,12.895485
2,0.0,15265,1740130,507212.0,1740130-20110216,1,0,0,0,0,...,0.0,0.0,2.0,1,0.0,0.0,59.046667,12.611239,8.320330,8.004220
3,0.0,15266,1447363,507216.0,1447363-20110216,1,0,0,0,0,...,0.0,0.0,2.0,1,0.0,0.0,56.153333,35.906383,38.186618,26.238645
4,0.0,15267,1679459,507219.0,1679459-20100216,1,0,0,0,0,...,0.0,0.0,2.0,1,0.0,0.0,52.730000,9.530785,2.126788,3.401567

In [3]:
print(len(data))
for m in META:
    print(m, len(data[m].unique()))

17075
Inspection_Date 642
License 9398
Inspection_ID 17075
Business_ID 12823

In [6]:
sub = data.query("License == 1354323")
sub

,criticalFound,Inspection_Date,License,Inspection_ID,Business_ID,Inspector_blue,Inspector_brown,Inspector_green,Inspector_orange,Inspector_purple,...,pastSerious,pastCritical,timeSinceLast,ageAtInspection,consumption_on_premises_incidental_activity,tobacco_retail_over_counter,temperatureMax,heat_burglary,heat_sanitation,heat_garbage
138,1.0,15291,1354323,517619.0,1354323-20101016,1,0,0,0,0,...,0.0,0.0,2.000000,1,1.0,0.0,49.93,0.040080,0.223037,0.261586
10449,1.0,15635,1354323,1286068.0,1354323-20121016,0,0,0,0,1,...,0.0,1.0,0.942466,1,1.0,0.0,58.51,0.200338,0.002086,0.337150

In [7]:
inspecs = pd.read_csv("data/inspections.csv")
inspecs.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1,4140 W Addison ST,St. Viator,CHICAGO,St. Viator,School,2014-04-14T00:00:00.000,1434800,Canvass,41.946440,1878519.0,"{'type': 'Point', 'coordinates': [-87.73073817...",-87.730738,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60641.0
2,1234 N HALSTED ST,SUBWAY,CHICAGO,SUBWAY 50886,Restaurant,2017-01-11T00:00:00.000,1981312,Canvass,41.904502,2115048.0,"{'type': 'Point', 'coordinates': [-87.64826686...",-87.648267,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60642.0
3,3700 S LOWE,BRIDGEPORT CATHOLIC SCHOOL(CAMPUS),CHICAGO,BRIDGEPORT CATHOLIC SCHOOL (CAMPUS),School,2014-10-28T00:00:00.000,1501267,Canvass,41.827056,2224981.0,"{'type': 'Point', 'coordinates': [-87.64250380...",-87.642504,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60609.0
4,2506 N LARAMIE AVE,Cuernavaca Bakery,CHICAGO,Cuernavaca Bakery,Bakery,2017-12-21T00:00:00.000,2129593,Canvass,41.926211,2192872.0,"{'type': 'Point', 'coordinates': [-87.75637041...",-87.756370,Out of Business,Risk 2 (Medium),IL,NaN,60639.0

In [9]:
sub.join(inspecs)[inspecs.columns]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
138,361 W CHESTNUT ST,CHATAIGNE RESTAURANT,CHICAGO,CHATAIGNE RESTAURANT,Restaurant,2013-01-30T00:00:00.000,1138799,Canvass,41.898041,1869234.0,"{'type': 'Point', 'coordinates': [-87.63792798...",-87.637928,Pass,Risk 1 (High),IL,31. CLEAN MULTI-USE UTENSILS AND SINGLE SERVIC...,60610.0
10449,2301 S INDIANA AVE,400 PANTRY,CHICAGO,McCORMICK PLACE,PANTRY,2010-07-21T00:00:00.000,277630,Canvass,41.851047,1932251.0,"{'type': 'Point', 'coordinates': [-87.62209308...",-87.622093,Pass,Risk 2 (Medium),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60616.0

In [13]:
for col in inspecs.columns:
    print("{} AS {},".format(col, col))

address AS address,
aka_name AS aka_name,
city AS city,
dba_name AS dba_name,
facility_type AS facility_type,
inspection_date AS inspection_date,
inspection_id AS inspection_id,
inspection_type AS inspection_type,
latitude AS latitude,
license_ AS license_,
location AS location,
longitude AS longitude,
results AS results,
risk AS risk,
state AS state,
violations AS violations,
zip AS zip,